*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
:root{
    --step-tab-font-size: 13px;
    --step-tab-color:rgba(0,0,0,0.3);
    --main-font-color:#001e4d;
}
.main{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.container{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
}
.container h2{
    text-align: center;
    color: var(--main-font-color);
    margin-bottom: 50px;
}
.step-container{
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    margin-bottom: 30px;
}
.step-box{
    width: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.step-num{
    padding: 10px 15px;
    background: var(--step-tab-color);
    border-radius: 50%;
    font-size: var(--step-tab-font-size);
    color: #fff;
    margin-bottom: 10px;
}
.step-detail{
    font-size: var(--step-tab-font-size);
    color: var(--step-tab-color);
    text-align: center;
}
.step-line{
    width: 7.5%;
    height: 1px;
    background: var(--step-tab-color);
    border-radius: 3px;
    transform: translateY(-15px);
}
.active-step .step-num {
    background: rgb(94, 146, 242); 
}
.active-step .step-detail {
    color: rgb(94, 146, 242); 
}
.active-step + .step-line {
    background: rgb(94, 146, 242); 
}
.completed-step .step-num {
    background: #5bbb72; 
}
.completed-step .step-detail {
    color: #5bbb72; 
}
.completed-step + .step-line {
    background: #5bbb72; 
}
.body-container{
    width: 750px;
    padding: 30px 50px;
    border: #eee solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
    overflow: hidden; 
}
.section-container {
    width: 100%;
    display: flex; 
    transition: transform .5s ease; 
}
.section{
    width: 750px;
    flex: 0 0 auto; 
    height: 450px;
    display: flex;
    flex-direction: column;
}
.section p{
    width: 650px;
    font-weight: 700;
    color: var(--main-font-color);
    border-bottom: 1px solid var(--main-font-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.section input{
    padding: 10px 15px;
    width: 40%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    outline: none;
    margin-bottom: 20px;
}
.section input:focus{
    border: 1px solid rgb(43, 113, 242);
    outline: none;
}
.btn-1, .btn-2, .btn-3, .btn-4{
    padding: 10px 15px;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: .3s;
    text-align: left;
}
.btn-1:hover, .btn-2:hover, .btn-3:hover, .btn-4:hover{
    background: #000;
    color: #fff;
}
.btn-1:disabled, .btn-2:disabled, .btn-3:disabled, .btn-4:disabled{
    cursor: no-drop;
}
.selected{
    background: #424242;
    color: #fff;
}
.pages-handle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pages-handle button{
    padding: 10px 15px;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgb(43, 113, 242);
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.pages-handle button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
#result-text{
    border: none;
    font-size: 15px;
    font-weight: 500;
}
#history-btn{
    padding: 10px 10px;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #FF885B;
    color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}
#history-btn:hover{
    opacity: 0.8;
}
#answer-history{
    border-top: 1px solid var(--main-font-color);
    border-bottom: none;
    margin-top: 10px;
    padding: 10px 0;
    font-weight: 500;
    visibility: hidden;
}